.Arena-Container {
    height: 100vh;
    width: 101vw;
    background-image: url('../assets/Background-One.png');
    border-bottom: 10px solid #16161d;
}

@media only screen and (max-width: 900px) {
    .Arena-Container {
        background: #eeb111;
    }
}