.Scholarships-Container {
    background-image: url('../assets/Background-Two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 101vw;
    border-bottom: 10px solid #16161d;
}

@media only screen and (max-width: 1024px) {
    .Scholarships-Container {
        background: whitesmoke;
    }
}