html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 10px;

}


::-webkit-scrollbar-track {
  background: #16161d;

}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

.App {
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}